//Footer
//#############################################################################################

#footer {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.ui.inverted.segment {
  background-color: white;
}

.footer-row1 {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: solid black 5px;
  color: black;
  background-color: white;
  padding-bottom: 45px;
  img {
    width: 27px;
    height: 27px;
    margin-right: 35px;
  }

  img:hover {
    transition: all 300ms ease;
    transform: scale(1.2);
  }
}

.footer-row2 {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
  background-color: white;
  padding-top: 45px;
  h2 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
  }
  p {
    text-decoration: none;
    font-size: 25px;
    a {
      color: black;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }
}

//Header
//#############################################################################################

.header-row1 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 30px 5px 30px;

  logo {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    li {
      a {
        margin-right: 30px;
        color: black;
        font-size: 27px;
      }

      a:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-style: dotted;
      }
    }
  }
}

.active-site {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-row2 {
  padding: 0px 30px 5px 30px;
  p {
    font-size: 25px;
  }
}

//Content
//#############################################################################################

body.contenttype-document {
  .documentFirstHeading {
    font-size: 200px;
    font-weight: 200;
    padding-bottom: 50px;
    border-bottom: solid black 4px;
    margin-bottom: 100px;
  }
  .ui.breadcrumbs {
    display: none;
  }
  .block.image.align.left {
    position: relative;
    left: 70px;
    img {
      &.small {
        position: relative;
        left: 100px;
      }
    }
  }

  .block.image.align.right {
    position: relative;
    right: 70px;
    img {
      &.small {
        position: relative;
        right: 100px;
      }
    }
  }

  .block.image {
    img {
      &.large {
        width: 850px;
        height: 500px;
        border: solid black 5px;
        z-index: +1;
      }
      &.medium {
        min-width: 500px;
        min-height: 700px;
      }
      &.small {
        border: solid black 5px;
        padding: 30px;
        min-width: 400px;
        min-height: 400px;
      }
    }
  }
}
