//Header
//#############################################################################################

.header-row1 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 30px 5px 30px;
  color: black;

  logo {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
  }

  ul {
    position: relative;
    top: 65px;
    list-style-type: none;
    margin: 0;
    li {
      a {
        margin-right: 30px;
        color: black;
        font-size: 27px;
      }

      a:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-style: dotted;
      }
    }
  }
}

.active-site {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-row2 {
  padding: 0px 30px 5px 30px;
  span {
    font-size: 25px;
    color: black;
  }
}

//Content
//#############################################################################################

body.contenttype-document {
  .documentFirstHeading {
    font-size: 190px;
    font-weight: 200;
    font-family: 'Weissenhof Grotesk';
    padding-bottom: 50px;
    margin-bottom: 100px;
    line-height: 105%;
    color: #333;
  }

  .ui.breadcrumbs {
    display: none;
  }

  h2 {
    font-size: 34px;
    font-family: 'Weissenhof Grotesk';
    font-weight: 400;
    margin-bottom: 35px;
    color: #333;
  }

  h3 {
    font-size: 20px;
    font-family: 'Weissenhof Grotesk';
    font-weight: bold;
    margin-bottom: 22px;
    color: #333;
  }

  p {
    font-size: 20px;
    font-family: 'Weissenhof Grotesk';
    color: #333;
    font-weight: 200;
    margin-bottom: 30px;
    width: 850px;
  }

  b,
  strong {
    font-weight: 500;
  }

  em {
    font-style: italic;
    font-weight: 100;
  }

  li {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 8px;
  }

  ul {
    margin-bottom: 60px;
  }

  // .block.image.align.center {
  //   width: 1000px;
  //   padding: 0px 120px 0px 0px;
  //   position: relative;
  //   right: 45px;
  //   .figure.center.large {
  //     img {
  //       width: 800px;
  //       height: 20px;
  //     }
  //     figcaption {
  //       background-color: #eeeeee;
  //       color: #666;
  //       font-family: 'Weissenhof Grotesk';
  //       display: flex;
  //       justify-content: flex-start;
  //       align-items: flex-start;
  //       padding: 20px 0px 0px 20px;
  //       font-size: 18px;
  //       font-weight: 400;
  //       &.description {
  //         height: 50px;
  //       }
  //       &.rights {
  //         height: 90px;
  //       }
  //     }
  //   }
  //   .figure.center.medium {
  //     img {
  //       width: 650px;
  //       height: 280px;
  //     }
  //     figcaption {
  //       background-color: #eeeeee;
  //       color: #666;
  //       font-family: 'Weissenhof Grotesk';
  //       display: flex;
  //       justify-content: flex-start;
  //       align-items: flex-start;
  //       padding: 20px 0px 0px 20px;
  //       margin-left: 200px;
  //       font-size: 18px;
  //       font-weight: 400;
  //       width: 400px;

  //       &.description {
  //         height: 50px;
  //       }
  //       &.rights {
  //         height: 90px;
  //       }
  //     }
  //   }
  //   .figure.center.small {
  //     img {
  //       width: 180px;
  //       height: 125px;
  //     }
  //     figcaption {
  //       background-color: #eeeeee;
  //       color: #666;
  //       font-family: 'Weissenhof Grotesk';
  //       display: flex;
  //       justify-content: flex-start;
  //       align-items: flex-start;
  //       padding: 20px 0px 0px 20px;
  //       margin-left: 305px;
  //       font-size: 18px;
  //       font-weight: 400;
  //       width: 190px;
  //       &.description {
  //         height: 50px;
  //       }
  //       &.rights {
  //         height: 90px;
  //       }
  //     }
  //   }
  // }

  .block.image {
    margin: 0;

    figure {
      display: flex;
      flex-direction: column;
      margin: 0;
      background: #eee;

      img {
        width: 100% !important;
        object-fit: contain;
      }

      &.right {
        margin-bottom: 16px;
        margin-left: 2rem;
        float: right;

        img {
          margin-right: 0 !important;
          margin-bottom: 0px;
          margin-left: 0 !important;
          float: none;
          object-fit: contain;
          object-position: right;
        }
      }

      &.left {
        margin-right: 2rem;
        margin-bottom: 16px;
        float: left;

        img {
          margin-right: 0 !important;
          margin-bottom: 0px;
          float: none;
          object-fit: contain;
          object-position: left;
        }
      }

      &.left,
      &.right {
        &.large {
          width: 50%;
        }

        &.medium {
          width: 25%;
        }

        &.small {
          width: 15%;
        }
      }

      &.center {
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
        object-fit: cover;

        img {
          margin-right: initial;
          margin-left: initial;
        }

        &.large {
          width: 100% !important;
        }

        &.medium {
          width: 50% !important;
        }

        &.small {
          width: 25% !important;
        }

        &.large {
          figcaption {
            text-align: start;
          }
        }

        &.medium {
          figcaption {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            text-align: start;
          }
        }
      }
    }

    img {
      max-width: 100% !important;
    }

    p {
      padding-left: 20px;
      margin-bottom: 0px;
      color: #666;
      font-size: 14px;
      line-height: 19px;
      text-align: left;
    }

    figcaption {
      padding-left: 20px;
      text-align: left;

      &.description {
        padding-top: 20px;
        padding-bottom: 20px;
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
      }

      &.rights {
        padding-bottom: 20px;
        color: #8a8a8a;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
      }
    }
  }

  .block-inner-wrapper {
    margin-bottom: 100px;
    margin-top: 100px;
    box-shadow: 5px 5px 5px 5px rgba(83, 82, 82, 0.507);

    img {
      &.hero-image {
        order: 2;
        width: 400px;
      }
    }
    div {
      &.hero-body {
        background-color: #3f3d56;
        h1 {
          color: #e6e6e6;
        }

        p {
          color: #e6e6e6;
        }
      }
    }
  }
}

//Footer
//#############################################################################################

#footer {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.ui.inverted.segment {
  background-color: white;
}

.footer-row1 {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: solid #333 4px;
  background-color: white;
  padding-bottom: 45px;
  img {
    width: 25px;
    height: 25px;
    margin-right: 35px;
  }

  img:hover {
    transition: all 500ms ease;
    transform: scale(1.4);
  }
}

.footer-row2 {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #333;
  background-color: white;
  padding-top: 45px;
  h4 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
  }
  span {
    text-decoration: none;
    font-size: 25px;
    color: #333;
    a {
      color: #333;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }
}
